<div class="col-md-12">
    <div class="col-md-12">
        <table class="col-md-12 table table-hover table-bordered">
            <thead>
                <tr class="col-md-12">
                    <th>S.No.</th>
                    <th>Policy ID</th>
                    <th>Date Of Purchase</th>
                    <th>Customer ID</th>
                    <th>Fuel</th>
                    <th>Vehicle Segment</th>
                    <th>Premium</th>
                    <th>Bodily Injury Liability</th>
                    <th>Personal Injury Protection</th>
                    <th>Property Damage Liability</th>
                    <th>Collision</th>
                    <th>Comprehensive</th>
                    <th>Customer Gender</th>
                    <th>Customer Income Group</th>
                    <th>Customer Region</th>
                    <th>Customer Marital status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngIf="false" class="text-center saListBody">
                    <td scope="row" colspan="12" style="text-align: center;">
                        
                    </td>
                </tr> -->
                <ng-container>
                    <tr *ngFor="let policyData of policyDataList; let index=index;"
                        class="">
                        <td>{{ index + 1 }}</td>
                        <td>{{ policyData.id }}</td>
                        <td>{{ policyData.purchase_date }}</td>
                        <td>{{ policyData.customer_id }}</td>
                        <td>{{ policyData.fuel_name }}</td>
                        <td>{{ policyData.vehicle_segment_name }}</td>
                        <td>{{ policyData.premium }}</td>
                        <td>{{ policyData.bodily_injury_liability }}</td>
                        <td>{{ policyData.personal_injury_protection }}</td>
                        <td>{{ policyData.property_damage_liability }}</td>
                        <td>{{ policyData.collision }}</td>
                        <td>{{ policyData.comprehensive }}</td>
                        <td>{{ policyData.gender }}</td>
                        <td>{{ policyData.income_group }}</td>
                        <td>{{ policyData.region_name }}</td>
                        <td>{{ policyData.marital_status }}</td>
                        <td>
                            <a class="hand-pointer" title="Edit" (click)="editInsurancePolicy(policyData)">
                                <i class="fa fa-edit color-blue"></i></a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="col-md-12 p-b-20px p-t-10px row" *ngIf="getPolicyResponseData">
                
            <div class="col-md-4">
                Page : {{ pageNumber }} of {{ getPolicyResponseData.total_page }}
            </div>      
            <div class="col-md-4">
                Showing {{ getPolicyResponseData.start_index }} - {{ getPolicyResponseData.end_index }} of {{ getPolicyResponseData.count }}
                <input class="col-md-2"  title="press enter after number" min="1" [(ngModel)]="policyPageNumberSearch" (keyup.enter)="setInsurancePolicyPage(policyPageNumberSearch)" type="number">
            </div>          
            <div class="col-md-4 t-a-r f-s-20px">
                <span [ngClass]="getPolicyResponseData.has_previous ? 'active' : 'unactive'" class="m-r-10px" 
                 (click)="setInsurancePolicyPage(1)" title="First page">
                    <i class="fa fa-angle-double-left"></i>
                </span>
                <span [ngClass]=" getPolicyResponseData.has_previous ? 'active' : 'unactive'" 
                    (click)="setInsurancePolicyPage(pageNumber - 1)" class="m-r-10px" title="Previous page">
                    <i class="fa fa-angle-left"></i>
                </span>
                <span [ngClass]=" getPolicyResponseData.has_next ? 'active' : 'unactive' " (click)="setInsurancePolicyPage(pageNumber + 1)" 
                        class="m-r-10px" title="Next page">
                    <i class="fa fa-angle-right"></i>
                </span>
                <span [ngClass]=" getPolicyResponseData.has_next ? 'active' : 'unactive' " (click)="setInsurancePolicyPage(getPolicyResponseData.total_page)" 
                        class="m-r-10px" title="Last page">
                    <i class="fa fa-angle-double-right"></i>
                </span>
            </div>
        </div>
        
    </div>
</div>

    <div class="modal fade" id="showMoreModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content col-md-12" *ngIf="openPopup">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Insurance Policy : {{ policyData.id }}</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Date Of Purchase</div>
                            <div class="col-md-12">
                                <input type="date" [value]="policyData.purchase_date" disabled="true"/>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Customer ID</div>
                            <div class="col-md-12">
                                <input type="text" [value]="policyData.customer_id" disabled="true"/>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Customer Gender</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.gender" 
                                        [value]='policyData.gender'>
                                        <option value=0>Male</option>
                                        <option value=1>Female</option>
                                </select>   
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Customer Income Group</div>
                            <div class="col-md-12">
                                <input type="text" [value]="policyData.income_group" [(ngModel)]="policyData.income_group"/>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Customer Region</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.region_id" [value]='policyData.region_id'>
                                        <option *ngFor="let region of policyOptions.region_list let region_index = index" [selected]="policyData.region_id == region.id"
                                    [value]="region.id">{{ region.name }}</option>
                                </select>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Customer Marital Status</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.marital_status" [value]='policyData.marital_status'>
                                    <option [ngValue]=true [selected]="policyData.marital_status==true">Married</option>
                                    <option [ngValue]=false [selected]="policyData.marital_status==false">Single</option>
                                </select>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Fuel</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.fuel_id" [value]='policyData.fuel_id'>
                                        <option *ngFor="let fuel of policyOptions.fuel_list let fuel_index = index" [selected]="policyData.fuel_id == fuel.id"
                                    [value]="fuel.id">{{ fuel.name }}</option>
                                </select>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Vehicle Segment</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.vehicle_segment_id" [value]='policyData.vehicle_segment_id'>
                                    <option *ngFor="let vehicle_segment of policyOptions.vehicle_segment_list let vehicle_segment_index = index" 
                                    [selected]="policyData.vehicle_segment_id == vehicle_segment.id"
                                    [value]="vehicle_segment.id">{{ vehicle_segment.name }}</option>
                                </select>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Premium</div>
                            <div class="col-md-12">
                                <input type="number" [value]="policyData.premium" [(ngModel)]="policyData.premium"/>
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Bodily Injury Liability</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.bodily_injury_liability" [value]='policyData.bodily_injury_liability'>
                                    <option [ngValue]="true" [selected]="policyData.bodily_injury_liability==true">Yes</option>
                                    <option [ngValue]="false" [selected]="policyData.bodily_injury_liability==false">No</option>
                                </select>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Personal Injury Protection</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.personal_injury_protection" [value]='policyData.personal_injury_protection'>
                                    <option [ngValue]="true" [selected]="policyData.personal_injury_protection==true">Yes</option>
                                    <option [ngValue]="false" [selected]="policyData.personal_injury_protection==false">No</option>
                                </select> 
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Property damage Liability</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.property_damage_liability" [value]='policyData.property_damage_liability'>
                                    <option [ngValue]="true" [selected]="policyData.property_damage_liability==true">Yes</option>
                                    <option [ngValue]="false" [selected]="policyData.property_damage_liability==false">No</option>
                                </select>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">Collision</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.collision" [value]='policyData.collision'>
                                    <option [ngValue]=true [selected]="policyData.collision==true">Yes</option>
                                    <option [ngValue]=false [selected]="policyData.collision==false">No</option>
                                </select> 
                            </div> 
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">Comprehensive</div>
                            <div class="col-md-12">
                                <select  class='form-control' [(ngModel)]="policyData.comprehensive" [value]='policyData.comprehensive'>
                                    <option [ngValue]=true [selected]="policyData.comprehensive==true">Yes</option>
                                    <option [ngValue]=false [selected]="policyData.comprehensive==false">No</option>
                                </select>  
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info saveBtn" (click)="saveInsurancePolicy()"
								[disabled]="false"><i class="fa fa-check"   aria-hidden="true"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 