.active{
    cursor: pointer;
}
.unactive{
    opacity: 0.5;
}
.p-b-20px{
    padding-bottom: 20px;
}
.p-t-10px{
    padding-top: 10px;
}
.t-a-r{
    text-align: right;
}
.f-s-20px{
    font-size: 20px;
}
.m-r-10px{
    margin-right: 10px;
}
.save-btn{
	background-color: #e3e8fe;
	border-color: #cbd4fd;
	color: #212844;
	padding: 4px 16px;
}

.policyYear{
    width: 150px;
    float: right;
}

.width-serachInput{
   width:350px 
}

.table-wordWrap{
    white-space: nowrap;
    font-size: 12px;
}
.t-a-c{
    text-align: center;
}
.f-s-100px{
    font-size: 100px;
}

.modelFont{
    font-size: 11px;
}

.floatRight{
    float:right;
}